################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/arduinoServer/bin/Debug
/arduinoServer/arduinoServer.csproj.user
/arduinoServer/obj/Debug
